{% extends "./base.html.twig" %}

{% block body %}
    <div class="mx-auto w-4/5 sm:w-3/5">
        <div class="py-12 border-gray-200 text-center">
            <h1 class="text-5xl font-bold">
                Post {{ post }} not found
            </h1>
        </div>
        <p class="pt-20 text-xl text-center py-6">
            <span class="block">Make sure the post exists.</span>
            <a href="{{ path('posts') }}"
               class="bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 rounded-lg text-sm px-5 py-2 text-center text-white mt-4 inline-block">
                Back to Posts
            </a>
        </p>
    </div>
{% endblock %}